body{
background-color: #E8E8E8;
}
h1{
color:Black;
font-weight:bold;
font-family:"Times New Roman";
font-size:90px;
text-align:center;
}
IMG.imgcenter{
display:block;
margin-left:auto;
margin-right:auto;
border:none;
}
h4{
color:Red;
font-family:"Times New Roman";
font-size:40px;
text-align:center;
}
h2{
	color:Red;
	font-family:"Times New Roman";
	font-size:22px;
	text-align:LEFT;
}
IMG.imgright{
	display:block;
	float:right;
	margin-left:0;
	margin-right:30px;
	border:none;
}
p{
	font-family:"Times New Roman";
	font-size:45px;
	text-align:justify;
}
video{
	width:800px;
	height:640px;
	display:block;
	margin-left:auto;
	margin-right:auto;
}
hr{height:10px;
background-color:red;
width:90%;
border-color:black;
}
IMG.imgright{
	display:block;
	float:right;
	margin-left:none;
	margin-right:50px;
	border:none;
}
p{font-family:"Times New Roman";
	font-size:20px;
	text-align:justify;
}
IMG.imgleft{
	display:block;
	float:left;
	margin-left:50px;
	margin-right:none;
	border:none;
}
p{font-family:"Times New Roman";
	font-size:30px;
	text-align:justify;
}
h5{
	color:Red;
	font-family:"Times New Roman";
	font-size:20px;
	text-align:LEFT;
}
li{
	color:black;
	font-family:"Times New Roman";
	font-size:10px;
	text-align:LEFT;
}
table
{
	border-collapse:collapse;
}
td, th{
	border: 5px solid blue;
	font-family:"Times New Roman";
	font-size:30px;
}
caption{
	font-family:"Times New Roman";
	font-size:30px;
	text-align:justify;
}